
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .about-section {
    max-width: 600px;
    text-align: center;
    margin-top: 100px;
  }
  
  .login-signup-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .tab-switch {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab-switch button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .tab-switch .active-tab {
    background-color: #4CAF50;
    color: white;
  }
  
  .toggle-form-btn {
    background: none;
    border: none;
    color: #007bff;
    margin-top: 10px;
    cursor: pointer;
  }

  .image-section {
    margin-top: 20px;
    text-align: center;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .home-image {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
  }
  
  .home-image-hover {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .home-image {
    opacity: 0; /* Hide the first image */
  }
  
  .image-container:hover .home-image-hover {
    opacity: 1; /* Show the second image */
  }
  